In [1]:
import grizzly

# Load data from any source
df = grizzly.read_csv("data.csv")

# Perform manipulations
df_filtered = df.filter_eq("category", "electronics")
df_sorted = df_filtered.sort("price", ascending=True)

# Aggregate results
report = df_sorted.groupby_sum("brand", "sales")

# Export to your desired format
report.to_parquet("summary.parquet")

In [3]:
df.show(n=3)

+-------------+---------+-------+-------+
| category    | brand   | price | sales |
+-------------+---------+-------+-------+
| Utf8        | Utf8    | Int64 | Int64 |
| electronics | Apple   | 1000  | 50    |
| electronics | Samsung | 800   | 100   |
| electronics | Apple   | 1200  | 30    |
+-------------+---------+-------+-------+

## Left Join Example
Joining customers and orders data.

In [2]:
customers = grizzly.read_csv("customers.csv")
orders = grizzly.read_csv("orders.csv")

joined_df = customers.join(orders, on="customer_id", how="left")
joined_df.show()

+-------------+---------+-------------+----------------+--------------+
| customer_id | name    | city        | order_id_right | amount_right |
+-------------+---------+-------------+----------------+--------------+
| Int64       | Utf8    | Utf8        | Int64          | Float64      |
| 1           | Alice   | New York    | 101            | 250.0        |
| 1           | Alice   | New York    | 103            | 300.0        |
| 2           | Bob     | Los Angeles | 102            | 150.0        |
| 3           | Charlie | Chicago     |                |              |
| 4           | David   | Houston     |                |              |
+-------------+---------+-------------+----------------+--------------+